<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>商品列表</title>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/table/bootstrap-table.min.css}" rel="stylesheet">
</head>
<body>
<!-- 展示区域 -->
<table id="goodsTable" class="table table-bordered table-hover">
</table>


<!-- 更新模态框-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>

            <div class="modal-body">
                <form id="updateForm" th:action="@{/goods/update}" method="post" enctype="multipart/form-data" class="form-horizontal" role="form">
                    <input type="hidden" id="id" name="id">
                    <input type="hidden" id="status" name="status">
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">商品名称</label>
                        <div class="col-sm-6 input-group">
                            <input type="text" class="form-control" id="name" name="name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="price" class="col-sm-2 control-label">价格</label>
                        <div class="col-sm-6 input-group">
                            <input type="number" class="form-control" id="price" name="price">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="stock" class="col-sm-2 control-label">库存</label>
                        <div class="col-sm-6 input-group">
                            <input type="text" class="form-control" id="stock" name="stock">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="category" class="col-sm-2 control-label">类别</label>
                        <div class="col-sm-6 input-group">
                            <label>
                                <select id="category" class="form-control" name="category">
                                    <option value="鞋服">鞋服</option>
                                    <option value="食品">食品</option>
                                    <option value="数码">数码</option>
                                    <option value="日用">日用</option>
                                    <option value="书籍">书籍</option>
                                </select>
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="picture" class="col-sm-2 control-label">商品图片</label>
                        <div class="col-sm-6 input-group">
                            <input type="file" class="form-control" id="picture" name="picture">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="info" class="col-sm-2 control-label">描述</label>
                        <div class="col-sm-6 input-group">
                            <input type="text" class="form-control" id="info" name="info">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-6">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="submit" class="btn btn-primary">更新</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/jquery/jquery.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/bootstrap/table/bootstrap-table.min.js}"></script>
<script th:src="@{/bootstrap/table/bootstrap-table-zh-CN.min.js}"></script>
<script th:inline="javascript">
    const path = [[${#request.getContextPath()}]];
    let goodsTable;
    $(function() {
        let et = new Et1906();

        // 页面加载完之后，查询第一页数据
        et.queryList();
    });

    function Et1906() { }

    // 分页查询
    Et1906.prototype.queryList = function() {
        goodsTable = $('#goodsTable').bootstrapTable({
            url: path + '/goods/list',
            sidePagination: 'server',
            pagination: true,
            pageNumber: 1,
            pageSize: 3,
            pageList: [5, 10, 15],
            queryParamsType: "undefined",
            paginationPreText: '上一页',
            paginationNextText: '下一页',
            queryParams: function(params) {

                let newParam = {
                    pageNum: params.pageNumber,
                    pageSize: params.pageSize,
                }
                return newParam;
            },
            columns: [
                { field: "pic", title: "图片",
                    formatter: function(value, row, index) {
                        return "<img width='50px' height='50px' src='" + value + "'></img>";
                    }
                },
                { field: "name", title: "商品名称" },
                { field: "price", title: "价格" },
                { field: "stock", title: "库存" },
                { field: "category", title: "类型" },
                { field: "info", title: "描述" },
                { title: "操作",
                    formatter: function (value, row, index) {
                        var update = "<button type='button' class='btn btn-primary' id='update' >修改</button>";
                        let status = row.status=='0'?"上架":"下架";

                        var changeStatus = "<button type='button' class='btn btn-danger' id='changeStatus'>"+status+"</button>";
                        return update + " | " + changeStatus;
                    },
                    events: houseEvents
                }]
        });
    }

    window.houseEvents = {
        'click #changeStatus': function(event, value, row, index) {
            let id = row.id;
            // form表单的action属性:action=/contextPath/house/100
            let action = path + '/goods/changeStatus?id='+id+'&status='+row.status;
            if(confirm('确定要修改状态吗？')) {
                $.ajax({
                    url:action,
                    dataType:"json",
                    type: "post",
                    success:function (msg) {
                        console.log(msg);
                        goodsTable.bootstrapTable('refresh');
                    }
                })
            }
        },

        'click #update': function(event, value, row, index) {

            $("#id").val(row.id);
            $("#name").val(row.name);
            $("#price").val(row.price);
            $("#stock").val(row.stock);

            $("#category").val(row.category);
            $("#info").val(row.info);
            $("#status").val(row.status);

            $('#myModal').modal('show');
        }
    }
</script>
</body>
</html>